.introPage {
  width: 100vw;
  height: 65vh;
  background: url(../assets/lofi.gif);
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.div-mom {
  margin: 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text {
  color: #EEEEEE;
  width: 40%;
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.name {
  padding-top: 15px;
  font-weight: 300;
  font-size: 46px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.image {
  width: 40%;

}

.person {
  cursor: pointer;

}

#name-border {
  border-bottom: 1px solid rgb(66, 66, 194);
}