.Sobre {
  width: 100%;
  height: 70vh;
  background-color: rgb(10, 10, 40);
  border-top: 1px solid rgba(200, 200, 226, 0.1);
}

/* .content-sobre {} */

.sobre-min {
  color: #EEEEEE;
  font-size: 36px;
  margin: 2% 5%;
}

.card-sobre {
  width: 50%;
  height: 50vh;
  background-color: #dddddd;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 5000px;
  display: flex;
}

.image-sobre {
  width: 60%;
  height: 60%;
}

.eu-sobre {
  width: 100%;
  border-radius: 1000px;
}

.text-sobre {
  width: 40%;
}