.GitHubAPI {
  width: 100%;
  height: 410vh;
}

.box-api {
  margin: 5% 5%;
  display: flex;
  justify-content: space-around;
  gap: 2.5vw;
  flex-wrap: wrap;
}

.repo-box {
  background: rgb(112, 112, 240);
  width: 25vw;
  height: 50vh;
  border-radius: 5px;
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5);
  transition: 0.8s;
  overflow: hidden;
  /* border: 2px solid white;    */
}

.repo-box:hover {
  transform: scale(1.1);
}

.bio {
  color: rgb(18, 18, 165);
  border-bottom: 1px solid black;
  width: 70%;
  padding-bottom: 10px;
}

.box-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
}


.content-git {
  margin: 2% 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

.profile-content {
  display: flex;
}



.git-image {
  margin: 10%;
  border-radius: 500px;
  image-resolution: 100px;
  width: 15vw;
  height: 15vw;
  border-right: 10px solid rgb(15, 15, 30);
}

.img-git {
  border-right: 10px solid rgba(0, 0, 0, 1);
  border-radius: 500px;
  padding-right: 80px;
}

.midias-git {
  display: flex;
  flex-direction: column;
}

.profile-dados {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1vh;
}

.midias-content {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  color: black;
}

.githubb {
  color: black;
}

.nome {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  width: 60%;
}

.image-repo-git {
  width: 100%;
  height: 60%;
  cursor: pointer;
  filter: opacity(0.6);
  transition: 0.8s;
}

.image-repo-git:hover {
  transform: scale(1.2);
  filter: opacity(1);
}